%include /tmp/network.txt
%pre
#!/bin/sh
exec < /dev/tty3 > /dev/tty3 2>&1
chvt 3
hn=""
ip=""
gw=""

while [ "$hn" == "" ]; do
 clear
 echo " *** Please enter the following details: *** "
 echo
 read -p "Hostname: " hn
done

while [ "$ip" == "" ]; do
 clear
 echo " *** Please enter the following details: *** "
 echo
 read -p "IP: " ip
done

while [ "$gw" == "" ]; do
 clear
 echo " *** Please enter the following details: *** "
 echo
 read -p "Gateway: " gw
done

clear
chvt 1
#echo "network --device eth0 --bootproto static --noipv6 --hostname ${hn}" > /tmp/network.txt
echo "network  --onboot yes --bootproto=static --device=ens33 --ip=${ip} --netmask=255.255.255.0 --gateway=${gw} --nameserver=${gw} --hostname=${hn}" > /tmp/network.txt
#network  --hostname=localhost.localdomain
%end

#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
#graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network  --bootproto=dhcp --device=ens33 --ipv6=auto --no-activate
#network  --onboot yes --bootproto=static --device=ens33 --ip=192.168.162.101 --netmask=255.255.255.0 --gateway=192.168.162.2 --nameserver=127.0.1.1 --hostname=gpd-mdb-1
#network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$MrCBfM/py2CsNiO.$uo6eNJps/bE8S9QLjcgXEdbCByp5ai1kTaUmQyHHPP0MaMWydynJl.0QARRY5VoP.3gLhFH4VOHzV0wNOuW9W0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=gpddev --password=$6$0nN9tNyuorrO79jf$k0AsPzg1AjARfsCbbiOLxJADJEUempWKPettbDvbRXcZf.ZTUInVM5Edi789X4oHQUjIBpi2VaD.UW8YNmZLb0 --iscrypted --gecos="gpddev"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
#clearpart --none --initlabel
clearpart --drives=sda --all --initlabel

%packages
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
